<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css">
</head>
<body>
    <header>
        <h1>Welcome, <%= user %>!</h1>
        <form id="tableForm" action="/admin" method="POST">
            <label for="table">Choose a table:</label>
            <select name="table" id="table" onchange="document.getElementById('tableForm').submit()">
                <option value="tangki" <% if (table === 'tangki') { %>selected<% } %>>Tangki</option>
                <option value="pipa" <% if (table === 'pipa') { %>selected<% } %>>Pipa</option>
                <option value="sambungan" <% if (table === 'sambungan') { %>selected<% } %>>Sambungan</option>
                <option value="bahan_saringan" <% if (table === 'bahan_saringan') { %>selected<% } %>>Bahan Saringan</option>
            </select>
        </form>
    </header>
    <% if (table) { %>
        <div class="top">
            <form action="/add" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="table" value="<%= table %>">
                <input type="text" name="name" placeholder="Name" required>
                <input type="file" name="fileimage" placeholder="Upload" id="fileimage" onchange="imgname()" required>
                <input type="hidden" name="img" id="img" value="">
                <button type="submit">Add</button>
            </form>
            <form action="/dashboardSearch" method="GET">
                <input type="hidden" name="table" id="table" value="<%= table %>">
                <input type="text" name="term" placeholder="Search..." required>
                <button type="submit">Search</button>
            </form>
            
        </div>
        <div class="body">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Image</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% data.forEach(row => { %>
                        <tr>
                            <td><%= row.id %></td>
                            <td><%= row.name %></td>
                            <td><img src="<%= row.img %>" alt="<%= row.name %>"></td>
                            <td>
                                <form action="/update" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="table" value="<%= table %>">
                                    <input type="hidden" name="id" value="<%= row.id %>">
                                    <input type="text" name="name" value="<%= row.name %>" required>
                                    <input type="file" name="newimage" placeholder="Upload" id="newimage" onchange="imgname2()" required>
                                    <input type="hidden" name="img" value="" required>
                                    <button type="submit">Update</button>
                                </form>
                                <form action="/delete" method="POST" >
                                    <input type="hidden" name="table" value="<%= table %>">
                                    <input type="hidden" name="id" value="<%= row.id %>">
                                    <input type="hidden" name="img" value="<%= row.img %>">
                                    <button type="submit">Delete</button>
                                </form>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    <% } %>
    <script>
        function imgname(){
            const input = document.getElementById('fileimage');
            const imageName = document.getElementById('img');
            const name = input.files[0].name;

            imageName.value = name;
        }

        function imgname2(){
            const input = document.getElementById('newimage');
            const imageName = document.getElementById('img');
            const name = input.files[0].name;

            imageName.value = name;
        }
    </script>
</body>
</html>
